

#landing-page{
    background-image:url(assets/backgrounds/h_img.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: top 20px;

}
.container1{
    text-align: center;
}
#services{
    text-align: center;
    background-image: url(assets/backgrounds/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 8%;
    
}
#contact{
    background-image: url(assets/backgrounds/c_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    opacity: 0.60;
    justify-content: center;

}
.textarea{
    width: 90%;
}
#click{
    padding-top : 22px;
    margin-top: 10%;
    padding-bottom: 30px;
    animation: bounce 5s infinite; 
}
h3{
    text-align: center;
}
.img {
    font-size: 30px;
}
h2{
    text-align: center;
}


.overlay:hover .overlayEffects {
    opacity: 0.7;
}

.overlay:hover .image {
    opacity: 0.5;
}

.overlay:hover #overlaytext {
    opacity: 0.7;
}
.overlay{
    position: relative;
}

#overlaytext{
    top:50%;
    position: absolute;
    text-align: center;
    transform:translate(-50% -50%);
    transform: .5s ease;
    display: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: brown;
}
